// Barlow
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// Fraunces
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
// Primary Colors
$c-Soft-red: hsl(7, 99%, 70%);
$c-Yellow: hsl(51, 100%, 49%);
$c-Dark-desaturated-cyan: hsl(167, 40%, 24%);// graphic design text
$c-Dark-blue: hsl(198, 62%, 26%); // photography text 
$c-Dark-moderate-cyan: hsl(168, 34%, 41%); // footer

// Neutral Colors
$c-Very-dark-desaturated-blue: hsl(212, 27%, 19%);
$c-Very-dark-grayish-blue: hsl(213, 9%, 39%);
$c-Dark-grayish-blue: hsl(232, 10%, 55%);
$c-Grayish-blue: hsl(210, 4%, 67%);
$c-White: hsl(0, 0%, 100%);

* {
	margin: 0;
	padding: 0;
}

header {
	background-image: url(../images/mobile/image-header.jpg);
	background-position: 0;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 540px;

	nav {
		display: flex;
		justify-content: space-between;
		img {
			padding: 32px 24px 0 24px
		}


		.wrapper {
			position: absolute;
			width: 100%;
			display: none;
			justify-content: center;


			ul {
				background-color: $c-White;
				width: calc(100% - 48px);
				margin-top: 110px;
				text-align: center;
				list-style: none;
				flex-direction: column;
				position: absolute;

				li {
					font-size: 20px;
					font-family: Barlow;
					margin-top: 40px;
					color: $c-Dark-grayish-blue;
					font-weight: 500;
				}

				button {
					margin-bottom: 40px;
					padding: 16px 30px;
					border-radius: 28px;
					background-color: $c-Yellow;
					border: none;
					font-weight: bold;
					font-family: Fraunces;
				}
			}
	
			.speech-bubble:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 0;
				height: 0;
				border: 28px solid transparent;
				border-bottom-color: $c-White;
				border-top: 0;
				border-right: 0;
				margin-left: -17px;
				margin-top: -28px;
			}
		}

	}

	.hamburger-menu {
		cursor: pointer;
	}


	.text-content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		height: 100%;

		h1 {
			margin: auto;
			margin-bottom: 20px;
			color: $c-White;
			font-family: Fraunces;
			font-size: 40px;
			font-weight: 800;
			letter-spacing: 6.25px;
			text-align: center;
		}

		.arrow-down {
			margin: auto;
			margin-top: 0;
			width: 30px;
		}
	}
}

main {
	.panel {
		img {
			width: 100%;
		}

		.text {
			font-family: "Fraunces";
			margin-top: 64px;
			text-align: center;
			padding: 0 20px;

			h2 {
				font-weight: 900;
				font-size: 32px;
				color: $c-Very-dark-desaturated-blue;
			}
		
			p {
				color: $c-Dark-grayish-blue;
				font-family: "Barlow";
				margin-top: 30px;
				line-height: 30px;
				font-weight: 600;
			}

			.learn-more-btn {
				margin-top: 32px;
				margin-bottom: 64px;

				a {
					position: relative;
					font-family: "Fraunces";
					color: black;
					text-decoration: none;
					font-weight: 900;
					text-transform: uppercase;
					letter-spacing: 1px;

					.line-through-yellow {
						position: absolute;
						bottom: -2px;
						left: -7px;
						border-radius: 4px;
						width: 110%;
						border-bottom: 8px solid rgba($c-Yellow, .3);
					}
					.line-through-pink {
						position: absolute;
						bottom: -2px;
						left: -7px;
						border-radius: 4px;
						width: 110%;
						border-bottom: 8px solid rgba(#FE7766, .3);
					}
				}
			}

		}
	}

	.display {
		div {

			.text {
				padding-top: 400px;
				padding-bottom: 60px;
				text-align: center;

				h2 {
					font-family: "Fraunces";
					font-weight: 900;
					color: $c-Dark-desaturated-cyan;
					margin-bottom: 30px;
				}

				p {
					font-family: "Barlow";
					font-weight: 600;
					color: $c-Dark-desaturated-cyan;
				}
			}
		}
		
		.cherry {
			background-image: url("../images/mobile/image-graphic-design.jpg");
			background-repeat: no-repeat;
			background-size: 110%;
			background-position: center;
		}
		.orange {
			background-image: url("../images/mobile/image-photography.jpg");
			background-repeat: no-repeat;
			background-size: 110%;
			background-position: center;
		}
	}

	.testimonial {
		h3 {
			font-family: "Fraunces";
			font-weight: 900;
			color: $c-Grayish-blue;
			letter-spacing: 4px;
			text-align: center;
			margin: 60px 0;
			text-transform: uppercase;
			font-size: 16px;
		}

		li {
			text-align: center;
			margin: 60px 0;
			img {
				width: 72px;
				border-radius: 50%;
				margin-bottom: 30px;
			}

			p {
				line-height: 32px;
				font-size: 18px;
				font-family: "Barlow";
				font-weight: 600;
				color: $c-Very-dark-grayish-blue;
				padding: 0 20px;
			}

			h4 {
				font-family: "Fraunces";
				font-weight: 900;
				margin-top: 30px;
				margin-bottom: 12px;
				font-size: 18px;
			}

			span {
				color: $c-Grayish-blue;
				font-family: "Barlow";
				font-size: 14px;
				font-weight: 600;
			}
		}
	}

	.art {
		display: flex;
		flex-wrap: wrap;

		img {
			width: 50%;
		}
	}
}

footer {
	text-align: center;
	background-color: #90D4C6;

	.logo {
		padding: 60px 0 40px 0;
	}

	.footer-menu {
		ul {
			list-style: none;
			display: flex;
			width: 100%;
			justify-content: center;
			font-family: "Barlow";
			font-weight: 600;
			color: #458D7E;

			li {
				margin: 0 20px;
			}
		}
	}

	.social {
		margin: 90px 0 80px 0;
		ul {
			list-style: none;
			display: flex;
			justify-content: center;

			li {
				margin: 0 20px;
			}
		}
	}
}